# Operating System Files
.DS_Store
Thumbs.db

# IDE Files
.idea/
.vscode/
*.sublime-project
*.sublime-workspace

# Dependencies
/licensing/vendor/
/licensing/node_modules/

# Build files
*.zip
/dist/
/build/

# Environment-specific
.env
.env.*
!.env.example

# Misc
*.bak
*.swp
*.tmp

# Keep release.json for updates
!release.json
.scannerwork/report-task.txt
.scannerwork/.sonar_lock
instructions.md
.cursorrules
.DS_Store
